/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background-color: rgb(142, 193, 218);
}

.tweet:not(.updated) {
  background-color: rgb(245, 245, 245);
  transition: background-color 1s;
}

.updated {
  background-color: rgb(200, 232, 232);
}
